<html>

        <header>
              <!-- CSS only -->
            <link rel="stylesheet" href="assets/css/nav_barre.css">
        </header>

        <body>

            <div class="banniere">
                <ul>
                    <li><a href="home" class = "Nav_Accueil Nav_Log"><img id="Logo" src="assets/logo_pizza_au_lit_blanc.png" width="35px"></a></li>
                    <li><a href="home" class = "Nav_Accueil">Accueil</a></li>
                    <li><a href="catalogue" class = "Nav_Pizzas">Nos pizzas</a></li>
                    <li><a href="panier" class = "Nav_Log"><img id="panier" src="assets/icone-cadi.png" width= "25px" alt=""></a></li>
                    <li><a href="profiluser" class = "Nav_Log"><img id="profil" src="assets/icone_profil.png" width= "25px" alt=""></a></li>
                </ul> 
            </div>
        </body>
    </html>